* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Mono", monospace;
    font-style: normal;
}
 body {
    min-height: 100vh;
}
main {
    min-height: 60vh;
}

/*
*       Main style elements
*/

/* Main colors */
:root {
    --dark-blue: rgba(0, 59, 149, 1);
    --light-blue: #0071c2;
    --light-gray: rgb(206, 206, 206);
}

/* Buttons styles */
.button-style-1 {
    background-color: var(--light-blue);     
    color: #ffffff;                
    border: none;
    font-size: 16px;
    font-weight: 700;              
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s ease;
    text-decoration: none;        
}
.button-style-1:hover {
    background-color: #005fa3;
}
.button-style-2 {

    background-color: #ffffff;
    color: var(--light-blue);
    border: 2px solid --light-blue;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.button-style-2:hover {
    background-color: #e6f0fa;
}

/* Hover animation style */
.gray-hover {
    cursor: pointer;
    transition: all 0.2s ease;
}
.gray-hover:hover {
    background-color: gray;
}

.input-style-1 {
    background: none;
    outline: none;
    font-weight: 700;
    font-size: 16px;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(97, 139, 255);
    border: 2px solid rgb(148, 148, 148);
    padding: 5px 20px;
}

/* 
*   End main styles
*/





header {
    width: 100%;
    background-color: var(--dark-blue);
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-blue);
    padding: 5px 30px;
}
.logo a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 700;
    font-size: 30px;
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    
}
nav li {
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
}
nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    white-space: pre;
    font-weight: 500;
    font-size: 18px;
    color: whitesmoke;
    
}
.header-button {
    border-radius: 40px;
    height: 40px;
}

.header-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.41);
    
}
.-header-sidebar li {
    width: 100%;
}
.header-sidebar a {
    width: 100%;
    font-size: 23px;
    /* color: */
}
.menu-button {
    display: none;
    
}
.header-log-in-button {
    height: 44px;
    width: 60px;
    
}
.header-register-button {
    height: 42px;
    width: 75px;
    
}
.sidebar-header-log-in-button {
    background-color: transparent;
}
.sidebar-header-register-button {
    background-color: transparent;
    border: 0px;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
    
}
.login-background {
    height: 100%;
}
.login-image {
    height: 100%;
    width: auto;
}
.login-form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: rgb(206, 206, 206);
}
.login-form h2 {
    font-size: 50px;
    font-weight: 900;
    background-image: linear-gradient(aqua, #0071c2, rgba(0, 59, 149, 1));
    color: transparent;
    background-clip: text;
}
.login-form  h3 {
    font-size: 30px;
    font-weight: 800;
}
.login-form-input {
    background-color: whitesmoke;
    width: 300px;
    height: 30px;
}
.login-form-submit {
    width: 120px;
    height: 40px;
}



.registration-page {
    display: flex;
    justify-content: space-between;
    
    font-size: 18px;
}
.registration-page h4 {
    color: var(--dark-blue);
}
.registration-form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 30px;
    width: 50%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: var(--light-gray);
}
.registration-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.registration-form form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.registration-form form p {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.registration-form input {
    width: 90%;
    height: 30px;
    font-size: 15px;
}
.registration-form-button {
    width: 40%;
    align-self: center;
    
}
.registration-form-button input {
    height: 40px;
}

footer {
    background-color: var(--dark-blue);
    color: white;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
footer a {
    color: white;
}
.footer-content {
    display: flex;
    justify-content: space-around;   
}
.footer-contect {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.footer-contact-time {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.opening-hours {
    display: flex;
    flex-direction: column;
    gap: 7px;
}


.additional-info {
    display: flex;
    justify-content: center;
    align-items: center;
}



.admin-side-bar {
    width: 20%;
    
}
.admin-side-bar ul {
    width: 100%;
    list-style: none;
}
.admin-side-bar li {
    height: 50px;
}
.admin-side-bar a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    border: 2px black solid;
}
.log-out-button {
    width: 100%;
    height: 40px;
    background-color: rgba(243, 78, 78, 0.793);
}

.admin-side-bar {
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.admin-side-bar ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.admin-side-bar li {
    height: 50px;
}
.admin-side-bar a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    color: black;
    border: 2px black solid;
    
}


@media(max-width: 1100px){
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }

}
@media(max-width: 900px){


}
@media(max-width: 600px){
    .header-sidebar {
        width: 100%;
    }
}